<div class="row">
  <div class="col-sm-5">
    <h1><%= current_user.name %></h1>
    <h6>Your id: <%= current_user.id %> (is used to add you to smb's friends list)</h6>
    <%= form_tag("/friendship", method: "get") do %>
      <%= label_tag(:q, "Add a friend:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Add")  %>
    <% end %>
  </div>
  <div class="col-sm-7">
    <br>
    <h3>Your friends:</h3>
    <% current_user.friends.each do |frnd| %>
      <h4><%= frnd.name %></h4> <br>
    <% end %>
    <br>
  </div>
</div>
<br><br>
<table>
  <% @images.each_slice(4) do |images| %>
    <tr>
      <% images.each do |image| %>
        <td class='btn btn-default'>
          <%= image_tag image.photo.url(:medium) %><br>
          <b>Description:</b> <%= image.description %><br>
          <%= link_to 'Delete', image_path(image.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>