<div class="row">
  <div class="col-sm-5">
    <h1><%= current_user.name %></h1>
    <h6>Your id: <%= current_user.id %> (is used to add you to smb's friends list)</h6>
    <%= form_tag("/friendship", method: "get") do %>
      <%= label_tag(:q, "Add a friend:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Add")  %>
    <% end %>
  </div>
  <div class="col-sm-7">
    <br>
    <h3>Your friends:</h3>
    <% current_user.friends.each do |frnd| %>
      <h4><%= frnd.name %></h4> <br>
    <% end %>
    <br>
  </div>
</div>
<br><br>
<table>
  <% @images.each_slice(2) do |images| %>
    <tr>
      <% images.each do |pic| %>
        <% @pic = pic %>
        <td class="btn btn-default">
          <div class="row">
            <div class="col-md-8">
              <%= image_tag pic.photo.url(:medium), width: 500, height: 500 %><br>
              <b>Description:</b> <%= pic.description %><br>
              <%= link_to 'Delete', image_path(pic.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
            </div>
            <div class="col-md-4">
              <section id="comment-section">
                <ol id="comments<%= pic.id %>">
                  <%= render pic.comments %>
                </ol>

                <h4>Add a comment:</h4>

                <%= render 'comments/form' %>

              </section>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>